[core]
	autocrlf = true
	pager = less -F
[user]
	name = mahisafa82
	email = mahisafa82@gmail.com
[alias]
	dog = log --all --graph --decorate  --pretty=format:'%C(auto)%h%d %s %C(bold black)(%al: %ar)%Creset'
	cola = cola
	sog = dog
        uncommit = reset HEAD^
[pager]
	log = false
[cola]
	spellcheck = false
	theme = flat-dark-grey
	icontheme = dark
[gui]
	editor = gvim
[pull]
	rebase = true
