[core]
	autocrlf = false
	pager = less -F
[user]
	name = mahisafa82
	email = mahisafa82@gmail.com
[alias]
	dog = log --all --graph --pretty=format:'%C(auto)%h%d %s %C(bold black)(%al: %ar)%Creset'
	sog = dog
	cola = cola
	dag = dag
	uncommit = reset HEAD^
[cola]
	spellcheck = false
	theme = flat-dark-grey
	icontheme = dark
[gui]
	editor = gvim
[pull]
	rebase = true
[init]
	defaultBranch = main
